<section class="phx-hero">
  <h1 id="progress" style="text-align: center; color: green"></h1>
  <p id="message">Select file to upload</p>
</section>

<section class="row">
  <input type="file" name="file" id="file-selector">
</section>
